BasedOnStyle: WebKit
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
IndentCaseLabels: false
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: true
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: false
ColumnLimit: 0
